* {
	margin:0;
	padding:0;
	list-style-type:none;
}

html {
	height:100%;
}

body {
	font-family:"メイリオ",cursive,Josefin Sans Std Light,Helvetica Neue,SegoeUI,Tahoma,Arial,sans-serif;
}

#header {
	background-image:url("../img/header_bg.png");
	background-repeat:repeat-x;
	height:60px;
}

#wrap {
	width:990px;
	margin:0 auto;
}



#logo {
	display:block;
	background-color:#1979cf;
	width:80px;
	height:80px;
	text-align:center;
	float:left;
}

#title {
	display:block;
	float:left;
	line-height:60px;
	vertical-align:middle;
	margin:0;
	width:534px;
	height:60px;
}

#title>p {
	padding-left:15px;
	vertical-align:middle;
	/*letter-spacing:1px;
*/	font-size:12px;
}

#global_menu {
	float:left;
	width:180px;
}

#aboutme_icon {
	float:left;
	width:60px;
	height:60px;
}

#ranking_icon {
	float:left;
	width:60px;
	height:60px;
}

#contact_icon {
	float:left;
	width:60px;
	height:60px;
}

#search_form_area {
	float:left;
	width:168px;
	padding-left:22px;
	padding-top:17px;
	padding-bottom:17px;	
}

#searchform {
	border:1px solid;
	border-color:#969999;
	border-radius:4px;
	background:url("../img/formback.png");
/*	box-shadow:2px 2px 2px 1px rgba(0,0,0,0.4);*/
}

#searchsubmit {
	vertical-align:-2px;
}

#s {
	font-size:19px;
	width:129px;
	border:0 none;
	background:url("../img/formback.png");
	
}






















